.DS_Store

*.class
.mtj.tmp/
*.jar
*.war
*.ear
*.nar
hs_err_pid*

nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

/tiendaChuches/tiendaChuches/nbproject/private/

